<!DOCTYPE html>
<html lang="en" ng-app = 'app'>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src = 'bower_components/angular/angular.js'>
  </script>
  <script>
  var app = angular.module('app', []);
  app.controller('divController', ['$scope', function($scope){
    $scope.foodlist = [];
    $scope.newfood = "";
    $scope.addfood = function(){
      $scope.foodlist.push($scope.newfood);
      $scope.newfood = "";
    }
  }]);
  </script>
</head>
<body>
    <h1>test</h1>
    <div ng-controller = "divController" id = "divController">
      <label for="">
          Favorite Food
          <input type="text" ng-model="newfood">
          <button ng-click="addfood()">Add Food</button>
      </label> 
      <br>contr
      <label for="">
          Currently typing:
          {{newfood}}
      </label> 
    </div>
</body>
</html>